body{

    background-image: url(uwwte8wps4h91.gif);
    background-size: cover;
    text-align: center;
}
.pes{

    font-family: cursive;
    color: rgb(255, 255, 0);
}
span{

    font-weight: bold;
    color: white;
}
.fgd{
    font-family: cursive;
    color: rgb(255, 255, 0);
}
a{
    font-size:25px;
    color: aqua;

}

h1{
    font-family: cursive;
    color: rgb(255, 255, 0);

}
h2{

    font-family: monospace;
    color: rgb(0, 0, 0);
}
.qwe{

    font-family: cursive;
    font-weight: bold;
}
.comentarios{

    font-family: cursive;
    font-weight: bold;
}